body{
    background-color: rgb(22, 17, 26);
}
h1{
    font-style: oblique;
    color: blanchedalmond;
    background: #ff00bf1a;
}
.container {
    background-color:rgb(22, 17, 26);
    box-sizing: border-box;
}
.row {
    background-color: rgb(22,17,26);
    color:rgb(19, 173, 68);
    
}
.col-3 {
    background-color: antiquewhite;
    height: fit-content;
}
ul>li {
    display: inline-block;
    margin: 5px;
    color: brown;
}
#block{
    display: block;
}
#MIDDLE{
    align-items: center;
    color: gold;
    font-style: inherit;
}
